.MyCatalog {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    color: whitesmoke;
}

.MyCatalog h1 {
    padding: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

.form-container {
        padding: 30px;
}

.description, .description-price {
    max-width: 200px;
}

.description-beat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.file input {
    width: 500px;
}

.description-selects select {
    width: 300px;
}

.description input {
    width: 300px;
}

.description-price input {
    width: 300px;
}

