.MyAccount {
    padding-top: 60px;
}

.links-account a {
    width: 25%;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
}

.links-account a:hover {
    border-right: 4px solid var(--pink-one);
    border-left: 4px solid var(--pink-one);
}

.links-account {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--black-secondary);
}

.links-account:hover {
    cursor: pointer;
}



