.Navbar {
    overflow-x: hidden;
}

.navbar-container {
    width: 100vw;
    height: 15vh;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: whitesmoke;
}

.links-navbar {
    display: flex;
    gap: 20px;
}

.image-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

