.Navbar {
    width: 100%;
    font-weight: bolder;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar-container {
    height: 60px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: whitesmoke;
}

.logo {
    height: 45px;
    width: 160px;
    background-image: url(/src/assets/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo:hover {
    background-image: url('../../assets/2.png');
}

.title-navbar a {
    text-decoration: none;
    color: white;
}

.links-navbar {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.links-navbar-currentUser {
    color: white;
}


.links-navbar a {
    text-decoration: none;
    color: white;
}


.links-nav:hover{
    width: fit-content;
    height: fit-content;
    background-color: var(--pink-two);
    color: var(--black);
    border-radius: 3px;
}

.image-profile {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

