.MyProfile {
    padding-top: 60px;
}

.header-profile {
    height: 350px;
    background-color: var(--black);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    align-items: center;
}

.img {
    width: 180px;
    height: 180px;
}

.links-profile a {
    width: 25%;
    text-decoration: none;
    color: whitesmoke;
    font-weight:bolder;
    text-align: center;
}

.links-profile a:hover {
    border-right: 4px solid var(--pink-two);
    border-left: 4px solid var(--pink-two);
}

.links-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--black-secondary);
}

.links-profile:hover {
    cursor: pointer;
}

.beat-user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.beat-user-info i {
    color: var(--pink-two);
}

.beat-user-info p {
    margin: 0;
}
