.Sidebar {
    position: relative;
}

.sidebar-container {
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    color: white;
    background-color: var(--transparent-black);
    width: 280px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(8px);
    padding: 50px 20px;
    gap: 35px
}

.sidebar-top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.image-profile-sidebar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-size: contain;
}

.links-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sidebar-container a {
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
    margin: 0;
    width: 200px;
    text-align: center;
}

.links-sidebar a:hover {
    background-color: var(--pink-two);
    border-radius: 15px;
    color: var(--black);
}


.sidebar-container h5 {
    font-weight: bolder;
}

.logout {
    position: fixed;
    bottom: 50px;
    padding: 20px;
    margin: 0;
    width: 200px;
    text-align: center;
}

.logout:hover {
    background-color: var(--blue);
    border-radius: 15px;
}

.logout:hover span {
    color: var(--black);
}

.transparent-layer {
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 9;
    background-color: rgba(33, 32, 32, 0.244);
    cursor: pointer;
}