.sidebar-container {
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    color: white;
    background-color: rgb(64, 63, 63);
    width: 330px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-container a {
    padding-top: 50px;
    text-decoration: none;
    color: whitesmoke;
}

.logout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transparent-layer {
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9;
    background-color: rgba(33, 32, 32, 0.132);
}