.Modal {
    background: rgb(17,17,17);
    background: radial-gradient(circle, rgba(17,17,17,1) 0%, rgba(223,96,203,1) 100%);
    height: 500px;
    width: 400px;
    color: white;
    position: absolute;
    top: 10%;
    right: 35%;
    margin: 0 auto;
    z-index: 3;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}