.Modal {
    background: var(--transparent-black);
    backdrop-filter: blur(8px);
    width: 500px;
    color: white;
    position: fixed;
    top: 12%;
    left: 50%;
    margin-left: -250px;
    z-index: 3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: xx-small;
    overflow: hidden;
}

.Modal .bx-x {
    position: absolute;
    cursor: pointer;
    top: 10px;
    font-size: 21px;
    right: 15px;
    color: whitesmoke;
    font-weight: 600;
}

.modal-top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid var(--black);
}

.modal-top-container p {
    margin: 0;
}

.info-user-beat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-user-beat div {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.info-user-beat h2 {
    margin: 0;
    margin-top: 10px;
    font-weight: 900;
    font-size: 20px;
}

.info-user-beat h6 {
    margin: 0;
    font-size: 12px;
}

.formats {
    display: flex;
    gap: 20px;
}

.formats p {
    margin: 0;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--black);
}

.info-contract {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.info-contract div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.bxs-time-five, .bx-album, .bxs-video, .bx-broadcast {
    color: var(--pink-two);
}

.observation-contract {
    width: 90%;
}

.Modal button {
    background-color: var(--pink-two);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 600;
}

.Modal button:hover {
    background-color: var(--pink-one);
    color: whitesmoke;
}