:root {
    --transparent-black: rgba(0, 0, 0, 0.915);
    --white: white;
    --black: rgb(36, 36, 36);
    --black-secondary:  rgb(17, 17, 17);
    --pink-one: #f100e1;
    --pink-two: #ff55e8;
    --blue: #2baed5;
}

.App {
    font-family: 'Roboto Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

  *::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--black-secondary);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--pink-two);
    border-radius: 10px;
  }